<!DOCTYPE html>
<html>
  <head>
    <title>RailsAwesomeGarage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<%# Added a condition here to not see the navbar in the home page %>
  <body>
    <% unless controller_name == 'pages' %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
